<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
    <title>Hi-3dPrint</title>
</head>
<body>
    <nav class="navbar navbar-success bg-success mb-4">
        <div class="container-fluid">
            <a href="../public/index.html" class="navbar-brand text-light">Coder-House</a>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="./views/cart.html"><img class="shoppingCart"
                            src="../public/images/cart.png" alt="carrito de compras"></a> -->
                            <img class="shoppingCart"
                            src="../public/images/cart.png" alt="carrito de compras">
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Registro de Usuarios</h2>
        <form>
            <div class="col-md-6">
                <p id="error"></p>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="Ingrese email">
                    <label>Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese contraseña">
                    <label>Nombre</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Ingrese nombre">
                    <label>Direccion</label>
                    <input type="text" name="addres" id="addres" class="form-control" placeholder="Ingrese direccion">
                    <label>Edad</label>
                    <input type="number" name="age" id="age" class="form-control" placeholder="Ingrese su edad">
                    <label>Telefono</label>
                    <input type="number" name="telphone" id="telphone" class="form-control" placeholder="Ingrese su numero de Telefono">
                    <label>Foto/Avatar</label>
                    <input type="url" name="avatar" id="avatar" class="form-control" placeholder="Ingrese foto o Avatar">
                    <a onclick="addUser()" class="btn btn-success my-2">Enviar</a>
                </div>
            </div>
        </form>
    </div>
    <script src="../public/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>