body {
  background-color: aliceblue;
}

.shoppingCart,
.imageChat {
  width: 3em;
  height: 3em;
}
.container-fluid ul{
  flex-direction: row;
}

#products,
#items {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-auto-rows: 28rem;
  gap: 10px;
  justify-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 2em;
}

#products div,
#items div {
  display: flex;
  flex-direction: column;
  padding: 2em 2em 4em 2em;
  border: 2px solid black;
  border-radius: 20px;
}

#products div img,
#items div img {
  height: 14em;
  width: 14em;
}

#products p,
#items p {
  font-weight: bolder;
}

.btn {
  margin-top: .6em;
  margin-bottom: .4em;
}

#cartProducts {
  display: flex;
  flex-direction: column;
}

#cartProducts div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  padding-bottom: 1em;
  padding-top: 1em;
}

#cartProducts img {
  width: 3em;
  margin-right: 1.5em;
}

#cartProducts h6 {
  max-width: 7.5em;
}

#cartProducts p {
  font-weight: bolder;
  padding-right: 2em;
}

.titulos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: yellow;
  padding-top: .5em;
}

/* Mensajes */
.section {
  background-color: aqua;
  margin-left: 4em;
  margin-right: 10em;
}

.section form {
  padding-top: 3em;
  padding-bottom: 1em;
}

.separacion {
  padding-left: 3em;
}

.chat {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  margin-bottom: 2em;
}

.chat img:hover {
  animation: mover 1s infinite;
}

@keyframes mover {
  0% {
    transform: rotate(-45deg);
  }

  25% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(45deg);
  }

}